In [29]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import MultiTaskLassoCV
from sklearn.linear_model import Ridge

In [15]:
df = pd.read_csv('uuu.csv', ";")
df

C:\Users\Graf_35\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,k6ps14_1.PV,k6t17.PV,k6t15.PV,k6t16.PV,k6p8.PV,k6l2.PV,k6p13.PV,k6t2_1.PV,k6f6x.PV,k0p102_1.PV,k6f6.PV,k6t6.PV,k6t14.PV,k6t3.PV
0,4.01,152.740,98.36,104.06,4.01,186.80,3.98,407.83,13.04,3.96,13.51,203.71,385.63,266.46
1,4.12,152.240,99.46,104.41,4.11,183.54,4.04,420.07,19.38,3.99,20.06,200.99,387.26,278.09
2,4.11,152.250,99.73,104.68,4.11,182.15,4.04,420.00,19.36,3.99,20.03,200.69,387.20,278.00
3,4.11,151.860,97.75,104.12,4.11,182.29,4.04,419.56,19.32,3.98,19.99,200.37,386.80,277.66
4,4.11,151.820,98.18,103.96,4.10,184.06,4.04,419.44,19.36,3.99,20.04,200.12,386.55,277.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,4.19,183.184,134.21,103.55,4.18,154.31,4.07,421.20,25.61,3.98,26.57,218.54,412.03,271.00
894,4.18,186.016,135.52,105.34,4.18,153.14,4.06,421.00,25.69,3.98,26.64,220.20,411.76,271.11
895,4.19,185.472,134.05,104.84,4.18,154.20,4.08,421.14,25.60,3.99,26.58,219.02,411.97,271.08
896,4.20,182.800,130.56,104.03,4.19,155.43,4.08,422.73,25.67,4.00,26.64,219.17,412.29,271.90
897,4.19,174.960,120.63,104.87,4.19,162.17,4.07,427.78,25.46,3.99,26.30,215.46,408.65,274.92

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   k6ps14_1.PV  898 non-null    float64
 1   k6t17.PV     898 non-null    float64
 2   k6t15.PV     898 non-null    float64
 3   k6t16.PV     898 non-null    float64
 4   k6p8.PV      898 non-null    float64
 5   k6l2.PV      898 non-null    float64
 6   k6p13.PV     898 non-null    float64
 7   k6t2_1.PV    898 non-null    float64
 8   k6f6x.PV     898 non-null    float64
 9   k0p102_1.PV  898 non-null    float64
 10  k6f6.PV      898 non-null    float64
 11  k6t6.PV      898 non-null    float64
 12  k6t14.PV     898 non-null    float64
 13  k6t3.PV      898 non-null    float64
dtypes: float64(14)
memory usage: 98.3 KB

In [45]:
y = df.drop(['k6f6x.PV', 'k6t2_1.PV', 'k6l2.PV', 'k6f6.PV'], axis=1)
x = df.drop(['k6ps14_1.PV', 'k6t17.PV', 'k6t15.PV', 'k6t16.PV', 'k6p8.PV', 'k6p13.PV', 
             'k0p102_1.PV', 'k6t6.PV', 'k6t14.PV', 'k6t3.PV', "k6f6.PV"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state = 15)

In [46]:
y

,k6ps14_1.PV,k6t17.PV,k6t15.PV,k6t16.PV,k6p8.PV,k6p13.PV,k0p102_1.PV,k6t6.PV,k6t14.PV,k6t3.PV
0,4.01,152.740,98.36,104.06,4.01,3.98,3.96,203.71,385.63,266.46
1,4.12,152.240,99.46,104.41,4.11,4.04,3.99,200.99,387.26,278.09
2,4.11,152.250,99.73,104.68,4.11,4.04,3.99,200.69,387.20,278.00
3,4.11,151.860,97.75,104.12,4.11,4.04,3.98,200.37,386.80,277.66
4,4.11,151.820,98.18,103.96,4.10,4.04,3.99,200.12,386.55,277.53
...,...,...,...,...,...,...,...,...,...,...
893,4.19,183.184,134.21,103.55,4.18,4.07,3.98,218.54,412.03,271.00
894,4.18,186.016,135.52,105.34,4.18,4.06,3.98,220.20,411.76,271.11
895,4.19,185.472,134.05,104.84,4.18,4.08,3.99,219.02,411.97,271.08
896,4.20,182.800,130.56,104.03,4.19,4.08,4.00,219.17,412.29,271.90
897,4.19,174.960,120.63,104.87,4.19,4.07,3.99,215.46,408.65,274.92

In [47]:
lasso = MultiTaskLassoCV(cv=5, random_state=10).fit(X_train, y_train)

In [55]:
lasso.score(X_test, y_test)

0.6427985183895043

In [49]:
lasso.get_params()

{'alphas': None,
 'copy_X': True,
 'cv': 5,
 'eps': 0.001,
 'fit_intercept': True,
 'max_iter': 1000,
 'n_alphas': 100,
 'n_jobs': None,
 'normalize': False,
 'random_state': 10,
 'selection': 'cyclic',
 'tol': 0.0001,
 'verbose': False}

In [50]:
clf = Ridge(alpha=1.0)
clf.fit(X_test, y_test)

Ridge()

In [51]:
clf.score(X_test, y_test)

0.6617079045536111

In [57]:
X=pd.read_csv('Anser.csv', ";")
X

C:\Users\Graf_35\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

   k6l2.PV  k6t2_1.PV  k6f6x.PV
0        0        440        50

In [53]:
clf.predict(X)

array([[  4.54121974, 238.340784  , 292.83572861, 107.78785824,
          4.52287055,   4.24560469,   3.99924805, 305.28992013,
        540.16585786, 251.47196732]])

In [54]:
df2 = pd.DataFrame(clf.predict(X),columns=['k6ps14_1.PV', 'k6t17.PV', 'k6t15.PV', 'k6t16.PV', 'k6p8.PV', 'k6p13.PV', 
             'k0p102_1.PV', 'k6t6.PV', 'k6t14.PV', 'k6t3.PV'])
df2

,k6ps14_1.PV,k6t17.PV,k6t15.PV,k6t16.PV,k6p8.PV,k6p13.PV,k0p102_1.PV,k6t6.PV,k6t14.PV,k6t3.PV
0,4.54122,238.340784,292.835729,107.787858,4.522871,4.245605,3.999248,305.28992,540.165858,251.471967